<p>display-employee works!</p>

<div *ngIf="msg" class="alert alert-success">
    <h1 >{{msg}}</h1> 
</div>

<div *ngIf="errorMsg" class="alert alert-danger">
    <h1 >{{errorMsg}}</h1> 
</div>

<div>
<h3></h3>
    <h1>Employee List:</h1>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>salary</th>
        <th>Action</th>
    </tr>
<tr *ngFor="let emp of employees">
    <td>{{emp.id}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.salary}}</td>
    <td><input type="button" class="btn btn-danger" (click)="deleteEmployee(emp.id)" value="delete"></td>
</tr>

</table>


</div>
